// 캘린더 최상위 div
.CalenderBigBox {
    display: flex;
    flex-direction: column;
    min-width: 90%;
    max-width: 90%;
    margin-top: 20px;

    .TitleAndTimer {
        // 모험 섬 span과 타이머가 있습니다.
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            font-size: 20px;
            font-weight: 700;
        }

        .TimerText {
            margin-left: 10px;
            color: #8045DD;
        }
    }

    .ContentsBox {
        margin-top: 10px;
        width: calc(100% - 20px);
        border-radius: 10px;
        min-height: 280px;
        max-height: 280px;
        padding: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        // 하루 콘텐츠에 대한 박스

        .ChooseDayBox {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 90%;
            height: 100px;
            
            // 날짜를 선택하는 박스

            .MiniCalendar {
                cursor: pointer;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                transition: .3s;
                padding: 15px;
                margin: 0px 15px;
                .KorDate {
                    margin-bottom: 20px;
                    font-size: 16px;
                    color: #7D8395;
                }   
                .Date {
                    font-weight: bold;
                    font-size: 16px;
                }
            }

            .MiniCalendar:hover {
                background-color: whitesmoke;
            }
        }

        .Line {
            display: flex;
            
        }


        .DayContentsBox {
            border-top: 1px solid #e5e7eb;;
            // 하루 콘텐츠 소개 박스
            width: 90%;
            height: 50px;
            

            .ContentsForm {
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                .MiniContentsBox {
                    width: calc(90% / 3 - 20px);
                    height: 40px;
                    margin: 0px 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    span {
                        font-size: 16px;
                        font-weight: bold;
                        color: #353945;
                    }

                    .IconAndName {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                        .Icon {
                            width: 20px;
                            height: 20px;
                            margin-right: 5px;
                        }
                        
                    }
                }
            }
        }

        .AdventureIslandBox {
            // 모험섬 박스
            width: 100%;
            height: 120px;
            display: flex;
            
            justify-content: space-between;
            align-items: center;

            .MiniIslandBox {
                width: calc(90% / 3 - 20px);
                height: 64px;
                border-radius: 10px;
                padding: 13px 15px;
                margin: 0px 10px;
                display: flex;
                align-items: center;
                background-color: whitesmoke;

                .IslandImage {
                    width: 64px;
                    height: 64px;
                    border-radius: 10px;
                    border: 1px solid black;
                }

                .TextInfo {
                    margin-left: 10px;
                    height: 64px;
                    display: flex;
                    flex-direction: column;
                    .TopInfo {
                        .Reward {
                            font-size: 14px;
                            border-radius: 5px;
                            padding: 2px 8px;
                            background-color: aqua;
                            margin-right: 10px;
                        }

                        .IslandName {
                            font-size: 18px;
                            font-weight: bold;
                            color: #353945;
                        }
                    }

                    .BottomInfo {
                        margin-top: 10px;
                        .rewardImage {
                            width: 30px;
                            height: 30px;
                            border-radius: 5px;
                            margin: 0px 2px;
                        }
                    }
                }
            }
        }
    }

    // 컨텐츠 이름 CSS
    .ContentsName {
        margin-top: 15px;
        font-size: 20px;
        font-weight: 700;
    }

    // 금주 도전 컨텐츠를 보여주는 영역
    .ChallengContentsBox {
        margin-top: 10px;
        width: calc(100% - 20px);
        border-radius: 10px;
        min-height: 280px;
        padding: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;

        .ChallengContentsInnerBox {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            max-height: 400px;
            // 도전 가디언 토벌
            .ChallengeGuardianBox {
                width: 50%;
                height: 385px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border-right: 1px solid #7D8395;
                .GuardianInfo {
                    margin: 10px 0px;
                    width: 100%;
                    display: flex;
                    
                    img {
                        width: 250px;
                        height: 100px;
                        border-radius: 10px;
                    }

                    // 가디언에 대한 정보를 담고 있는 영역입니다. 
                    // 텍스트만 있습니다.

                    .TextArea {
                        margin-left: 10px;

                        .Name {
                            min-width: 100px;
                            font-weight: bold;
                        }

                        .SeeMore {
                            display: flex;
                            align-items: center;
                            font-weight: 500;
                            cursor: pointer;
                            .Icon {
                                margin-left: 5px;
                            }
                        }
                    }
                }
                
            }

            // 도전 어비스 던전.
            .ChallengeAbyssDungeons {
                width: 50%; 
                height: 385px;
                margin-left: 50px;
                .ChallengeAbyssBox {

                    .AbyssInfo {
                        margin: 10px 0px;
                        width: 100%;
                        display: flex;
                        // 어비스 던전에 대한 이미지 CSS 입니다.
                        img {
                            width: 250px;
                            border-radius: 10px;
                        }

                        // 해당 어비스 던전에 대한 텍스트 영역입니다.
                        .TextArea {
                            margin-left: 10px;

                            .Name {
                                min-width: 100px;
                                font-weight: bold;
                            }
    
                            .SeeMore {
                                display: flex;
                                align-items: center;
                                font-weight: 500;
                                cursor: pointer;
                                .Icon {
                                    margin-left: 5px;
                                }
                            }
                        }
                    }   

                    .AbyssInfo:nth-child(2) {
                        margin-top: 30px;
                    }
                }
            }
        }

        
    }
}