
.EquipmentParentBox {
    position: relative;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;

    .EquipmentZone {

        margin: 20px 0px 0px 20px;
        width: 100%;
        display: flex;
        height: 400px;
        
        .FirstBox { 
            width: 50%;
            display: flex;
            flex-direction: column;
            
            .EngravingBox {
                display: flex;
                
                .EngravingInfo {
                    display: flex;
                    align-items: center;
                    margin: 0px 3px;
                    img {
                        max-width: 44px;
                        border-radius: 100%;
                        margin-right: 10px;
                    }

                    h5 {
                        font-size: 14px;
                    }

                    span {
                        font-weight: bold;
                        font-size: 12px;
                    }
                }
                
            }
        }

        .SecondBox {
            width: 50%;
        }

        .EquipmentInfo {
            display: flex;
            margin-bottom: 5px;
            width: 100%;
            margin-right: 20px;
         
            .ImageArea {
                img {
                    width: 44px;
                    max-width: 44px;
                    padding: 2px;
                    border-radius: 10px;
                }
            }
        
            .TextArea {
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                margin-left: 10px;
                p {
                    font-size: 16px;
                    font-weight: bold;
                }

                .BottomArea {
                    margin-top: 5px;
                    display: flex;
                    align-items: center;
                    
                    .EquipmentLevel {
                        margin-right: 5px;
                        font-weight: 700;
                        border-radius: 5px;
                        background-color: #E6E8EC;
                        padding: 1px 5px;
                        font-size: 12px;
                    }

                    .QuallityValueText {
                        font-size: 12px;
                        font-weight: bold;
                    }

                    .StickBox {
                        position: relative;
                        width: 60%;
                        height: 6px;
                        margin-left: 10px;
                        background-color: #E6E8EC;
                        border-radius: 5px;
                        padding: 1px 5px;

                        .StickValue {
                            position: absolute;
                            left: 0;
                            margin: 0 auto;
                            width: 0%;
                            height: 6px;
                            padding: 1px 5px;
                            transition: 0.5s;
                            background-color: royalblue;
                            border-radius: 5px;
                            
                        }
                    }
                    
                }

                
            }
        }
    }
    
}


