.CharacterPossArea {
    .CharacterInfoArea {        
        display: flex;
        width: 100%;
        min-height: 150px;
        margin-bottom: 20px;
        max-height: 200px;
                
        .TopArea {
            position: relative;
            width: 40%;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.287);
            border-radius: 10px;
            background-color: black;
            overflow: hidden;
    
            .ImageArea {
                position: absolute;
                right: 1;
                top: -80px;
                z-index: 1;
                
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
    
            .TextArea {
                left: 30px;
                position: absolute;
                height: 100%;
                display: flex;
                flex-direction: column;
                z-index: 20;
                color: white;
                
                .SimpleInformation {
                    margin-top: 20px;
                    margin-bottom: 10px;
                    font-size: 16px;
                }
    
                .CharacterName {
                    margin-bottom: 10px;
                    font-size: 24px;
                }
    
                .ItemLevelArea {        
                    display: flex;
                    align-items: center;
                    font-size: 20px;
                }
            }   
        }
    
        .SecondBox {
            margin-left: 10px;
            width: calc(60% - 10px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.287);
            
            .SkillPointArea {
                margin-left: 10px;
                font-size: 20px;
            }
    
            .SkillTypeArea {
                margin-top: 20px;
                width: 80%;
                font-size: 16px;
                display: flex;
                justify-content: space-between;
                font-weight: 500;
            }
    
            .InnerFontStyle {
                color: #8045DD;
                font-weight: 700;
            }
        }
    
    }

    .ServerBox {
        width: calc(100% - 20px);
        padding: 10px;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
        margin-bottom: 30px;
        
        .TopArea {
            margin: 10px 0px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .ServerName {
                font-weight: 700;
                font-size: 20px;
                color: #353945;
            }

            .CharacterLength {
                font-weight: bold;
                font-size: 16px;
                color: #7D8395;
                span {
                    color: black;
                }
            }
        }

        .CharacterList {
            margin-top: 10px;
            width: 100%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .CharacterInfoMiniver {
                display: flex;
                align-items: center;
                text-decoration: none;
                padding: 10px;
                width: calc((100% / 4) - 30px);
                margin-right: 10px;
                margin-top: 10px;
                background-color: white;
                box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
                border-radius: 10px;
                
                // img
                img {
                    min-width: 40px;
                    max-width: 40px;
                    min-height: 40px;
                    max-height: 40px;
                    border-radius: 100%;
                    margin-right: 10px;
                    object-fit: cover;
                    border: 1px solid black;
                }

                // 캐릭터 레벨, 직업
                .TopInfo {
                    font-size: 14px;
                    font-weight: 600;
                    color: #7D8395;
                }
                
                .Name {
                    margin: 2px 0px;
                    font-size: 16px;
                    font-weight: 700;
                    color: #353945;
                }

                // 아이템 레벨.
                .ItemLevel {
                    color: #353945;
                    font-size: 16px;
                    font-weight: 700;
                }
            }
        }        
    }

    .MarginArea {
        height: 100px;
    }
}

@media all and (max-width: 700px)
{
    .CharacterPossArea {

        // 상단 탑 영역
        .CharacterInfoArea  {
            flex-direction: column;
            max-height: 2000px;
            
            .TopArea  {
                min-height: 100px;
                max-height: 100px;
                margin-bottom: 10px;
                width: 100%;
                overflow: hidden;
                
                .ImageArea {
                    position: absolute;
                    left: 0;
                    top: -70px;
                    border-radius: 10px;
                    z-index: 1;
                    width: 100%;
                    img {        
                        min-width: 150%;
                        object-fit: cover;
                    }
                }

                .TextArea { 
                    left: 10px;

                    .SimpleInformation {
                        margin-top: 20px;
                        margin-bottom: 2px;
                        font-size: 12px;
                    }
        
                    .CharacterName {
                        margin-bottom: 2px;
                        font-size: 16px;
                    }
        
                    .ItemLevelArea {        
                        display: flex;
                        align-items: center;
                        font-size: 12px;
                    }
                }
            }

            .SecondBox {
                margin: 0px;
                width: 100%;
                min-height: 60px;
            }
        }

        // 서버별 캐릭터 수 
        .ServerBox {
            .TopArea {
                .ServerName {
                    margin-left: 10px;
                }

                .CharacterLength {
                    margin-right: 10px;
                }
            }

            .CharacterList {
                flex-direction: column;

                .CharacterInfoMiniver {
                    width: 90%;
                }
            }
        }
    }
}