
.CharacterSearchResult {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    border-radius: 20px;
    
    .CharacterInfoArea { 
        display: flex;
        justify-content: space-between;

        .NewCharacterInfoBox {
            background-color: #2f2f2f;
            position: relative;
            overflow: hidden;
            padding: 10px;
            min-width: 460px;
            min-height: 500px;
            max-height: 500px;
            border-radius: 10px;
            
            .InformationArea {
                border-radius: 10px;
                position: absolute;
                z-index: 3;
                color: white;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
                .TopArea {
                    margin: 10px;
                    .SimpleInformation {
                        span {

                        }
                    }

                    .ItemLevelArea {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        .Icon {
                            font-size: 32px;
                            margin-right: 10px;
                        }
                    }
                    
                }

                .BottomArea {
                    
                    border-radius: 20px;
                    color: white;
                    margin: 10px;
                    margin-bottom: 20px;
                    div {
                        display: flex;
                        align-items: center;
                        margin: 5px 0px;
                        .TitleName {
                            width: 44px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 3px;
                            background-color: black;
                            font-size: 12px;
                            color: white;
                            border-radius: 20px;
                            margin-right: 5px;
                        }
                    }
                    p {
        
                    }
                }
            }

            .CharacterImageArea  {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                img {
                    border-radius: 10px;
                    width: 100%;
                }
            }
        }

        .CharacterEquipment {
            display: flex;
            flex-direction: column;
            padding: 10px;
            margin-left: 10px;
            min-width: calc(100% - 510px);
            min-height: 500px;
            border-radius: 10px;
            box-shadow: 0px 0px 5px rgb(0 0 0 / 30%);    

            // 보석 영역
        }
    }


    .Specifications {
        margin-top: 15px;

        .StatBasketBox {
            display: flex;
            align-items: center;

            .MiniBox {
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
                border-radius: 20px;
                width: 210px;
                height: 250px;
                padding: 10px;
                margin-right: 10px;
                // 지금 스탯들이 무슨 스탯들인지 알려주는 텍스트의 css ex :) 전투 특성
                .GuideText {
                    width: 70px;
                    font-weight: 700;
                    font-size: 14px;
                    padding: 5px 10px;
                    border-radius: 30px;
                    background-color: rgba(128,69,221,.149);;
                    color: #8045DD;
                    text-align: center;
                    margin: 5px 0px;
                }
    
                // 스탯의 이름 ex:) 치명, 특화
                ul {
                    list-style: none;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    margin-bottom: 10px;
                    li {
                        display: flex;
                        justify-content: space-between;
                        width: 35%;
                        margin: 5px 10px;
                        
                    }
    
                    #StatName {
                        
                        font-size: 14px;
                        color: #7D8395;
                    }
        
                    #StatNumber {
                        font-weight: bold;
                        font-size: 14px;
                        color: #353945;
                    }
                }
    
                .BasicStat {
                    display: flex;
                    flex-wrap: wrap;
    
                    li {
                        width: 100%;
                    }
                }
            }

            .MiniBox:first-child {
                margin-right: 20px;
            }
        }   
    }
}

@media all and (max-width: 700px)
{
    .CharacterSearchResult {
       
        .CharacterInfoArea {
            flex-direction: column;
            align-items: center;
            .NewCharacterInfoBox {
                border: 1px solid pink;
                margin-bottom: 10px;
                min-width: 90%;
                max-width: 90%;
                min-height: 300px;

                .InformationArea {
                  
                  // 상단 영역
                  .TopArea {
                    margin-left: 5px;

                    // 레벨, 직업, 서버
                    .SimpleInformation {
                        margin-bottom: 5px;
                        font-size: 13px;
                    }

                    // 닉네임 폰트 사이즈 수정.
                    h2 {
                        font-size: 16px;
                        margin-bottom: 5px;
                    }

                    // 아이템 레벨 영역. 
                    .ItemLevelArea {
                        display: flex;
                        align-items: center;
                        .Icon {
                            font-size: 22px;
                            margin: 0px;
                        }

                        h2 {
                            margin-bottom: 0px;
                        }
                    }
                  }
                  
                  // 아래 영역
                  .BottomArea {
                    margin: 0px 0px 20px 10px;

                    // 버튼 안에폰트 수정
                    div {
                        p {
                            font-size: 12px;
                        }

                        .TitleName {
                            font-size: 10px;
                        }
                    }
                    
                  }
                  
                 
                }
            }

            .CharacterEquipment {
                width: 90%;
                padding: 10px;
                padding-bottom: 20px;
                margin-left: 0px;
                border-radius: 10px; 
             
                // 보석 영역
            }
        }

        .Specifications > div {
            width: 100%;
            flex-direction: column;

            .StatBasketBox {
                width: 100%;
                flex-direction: column;
                
                .MiniBox {
                    width: 90%;
                    margin: 0px;
                    margin-bottom: 20px;
                }

                .MiniBox:first-child {
                    margin-right: 0px;
                }
            }

           


        }
    }
}