// 헤더에서 가장 큰 부모요소.
.HeaderParent {
  position: relative;
  background-color: white;
  width: calc(100% - 80px);
  padding: 0px 40px;
  min-height: 80px;
  max-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);

  // 부모요소안에 있는 모든 a태그에게 적용될 css 입니다.
  a {
    color: black;
    text-decoration: none; // 폰트 아래 밑줄을 지웁니다.
  }

  .LogoFont {
    font-size: 24px;
    font-weight: 700; // 두껍게 설정하기 위해 700으로 지정
  }

  // 페이지를 이동할 수 있는 메뉴, 캐릭터를 검색하는 input을 담은 div
  .CenterBox {
    padding: 3px 0px;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .textBox {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      div {
        transition: .1s;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 5px;
        a {
          font-size: 16px;
          font-weight: bold;
          color: #7D8395;
        } 

        a:first-child {
          margin-left: 0px;
        }
      }

      div:hover {
        a {
          color: #8045DD;
        }

        border-bottom: 2px solid #8045DD;
      }
      
     
    }
    

      // 공격대를 검색하는 div에 대한 Css입니다.
    .SearchBox {
      transition: .3s;
      border-radius: 10px;
      margin-right: 10px;
      border: 2px solid #e5e7eb;
      width: 227px;
      height: 40px;
      display: flex;
      align-items: center;

      // 돋보기 아이콘에 대한 CSS
      #SearchIcon {
        font-size: 28px;
        margin: 0px 10px;
      }

      input {
        outline: none;
        font-weight: bold;
        width: calc(100% - 44px);
        height: 80%;
        border: none;
        
      }
    }
  }

  .utility {
    
    a {
      font-size: 16px;
      font-weight: bold;
      color: #8045DD;
      margin: 0px 10px;
    }

    .NoLogin {

    }

    .YesLogin {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      .UserMiniProfile {
        display: flex;
        align-items: center;
        cursor: pointer;
        background-color: rgb(241, 241, 241);
        padding: 5px 10px;
        border-radius: 20px;
        img {
          width: 40px;
          height: 40px;
          border-radius: 100%;
          object-fit: cover;
          margin-right: 10px;
        }
        
        span {
          font-weight: bold;
          margin-right: 10px;
        }
      }

      .DownArrow {
        transform: rotate(180deg);
        width: 20px;
        height: 20px;
      }

      .LogOut {
        transition: .3s;
        padding: 5px;
        color: red;
        border-radius: 100%;
        width: 20px;
        height: 20px;
        cursor: pointer;
      }

      .LogOut:hover {
        background-color: red;
        color: white;
      }


    }
  }
}
