.SearchPageBox {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    .WrongNickNameBox {
        display: flex;
        flex-direction: column;
        
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(100vh - 120px);

        img {
            margin-bottom: 20px;
        }

        h3 {
            margin-bottom: 5px;
        }
    }

    .CategoryBox {
        list-style: none;
        width: 80%;
        background-color: #e6e8ec;
        border-radius: 10px;
        padding: 5px 0px;
     
        li {
            cursor: pointer;
            color: #7D8395;
            font-weight: bold;
            text-align: center;
            border-radius: 10px;
            float: left;
            width: calc(20% - 32px);
            margin: 0px 5px;
            padding: 10px;
        }

        .focusStyle {
            border-radius: 5px;
            background-color: white;
            border-bottom: 3px solid royalblue;
            color: black;
        }
    }

    // 보여지는곧.
    .ShowBox {
        margin-top: 30px;
        width: 80%;
        height: 70vh;
        
    }

}